/**
 * HomeView.less
 * @date Created on 2016/9/7
 * @author ShenXing(慎行)<shenxing@suneee.com>
 *
 */
header{
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  img{
    //border: 1px solid;
  }
  dl{
    padding-left: 30px;
    font-family: Microsoft YaHei;
    //font-weight: 600;
    dt{
      font-size: 18px;
      line-height: 3;
      //color: #000;
    }
    dd{
      line-height: 2.5;
      font-size: 14px;
    }
  }
}
section{
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
}
.subItem{
  width: 120px;
  height: 120px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  margin-left: 25px;
  &:hover{
    border: 1px solid #57c5f7;
  }
  h3{
    //color: #000;
    font-size: 18px;
    //font-weight: bold;
    margin-top: 35px;
  }
  p{
    color: #f00;
    font-size: 16px;
  }
}
.title{
  padding-left: 10px;
  h3{
    font-family: Microsoft YaHei;
    line-height: 2;
    font-size: 16px;
    //font-weight: bold;
    color: #76838f;
  }
}
.ant-badge {
  margin-right: 16px;
}
.exbadge{

}
.headExample {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
  background: #f1f4f5;
  display: block;
  margin: 10px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: #76838f;
}

