.panel_contant{
    padding: 10px 10px 0 10px;
    .ant-form-item{
        margin-bottom: 4px;
    }
    .panel_head{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #FBFBFB;
        h3{
            font-size: 14px;
            font-weight: normal;
            padding: 13px 20px;
        }
    }
}
.panel{
    position: relative;
    border-width: 0;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-bottom: 10px;

}
.panel_head{
    background: #FBFBFB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h3{
        font-weight: 700;
        color: #76838f;
    }
}
.panel-title{
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
}