/**
 * Edit.less
 * @date Created on 2016/5/9
 * @author ShenXing(慎行)<shenxing@suneee.com>
 *240*427
 */
.edit{
  padding-top: 20px;
  .mobShell{
    background: url("../assets/mobileShell.png") no-repeat;
    width: 279px;
    height: 566px;
  }
  .mobScreen{
    position: absolute;
    width: 240px;
    height: 427px;
    top: 69px;
    left: 19px;
  }
  .appIcon{
    padding: 30px 0 0 19px;
  }
  .appImage{
    height: 48px;
    width: 48px;
    border-radius: 10px;
    position: relative;
    z-index: 100;
  }
  .appText{
    color: rgb(41, 48, 56);
    font-family: 'Microsoft YaHei';
    font-size: 10px;
    font-weight: bold;
    height: 28px;
    margin-top: 2px;
    text-align: center;
    width: 48px;
  }
}





