:global{
    
  .panel-title{
      padding:15px 30px;
      font-family: 'Microsoft YaHei';
      font-size: 14px
  }
  .page-content{
      padding-bottom: 15px;
  }
  .panel-body{
      padding-bottom: 20px;
  }
  .ant-dropdown {
    z-index: 9999
  }
  .ant-modal-mask {
      z-index: 1055
  }
  .ant-modal-wrap {
      z-index: 1060
  }
  .ant-message {
      z-index: 9990
  }
  .titleName {
        background-color:#F7F7F7;
        border-radius: 6px 6px 0 0;
        padding-left: 15px;
       font-family: 'Microsoft YaHei';
       font-size: 12px;
       line-height: 34px;
       color: #666;
       margin-bottom: 15px;
       font-weight: bold,
  }
  .form-talbe {
        margin:10px 0;
        li {
                overflow: hidden;
                line-height: 22px; 
                padding: 5px 8px 5px 0;
        }
        b {
            float: left;
            width: 9%;
            padding-right: 10px;
            box-sizing: border-box;
            text-align: right
        }
        span {
            float: left;
            width: 70%
        }  
    }
    form label span { font-weight: normal}
}


